/* -----------------------------------------------
COLORS
 */

.bg-yellow {
  background: #ffe220;
}

.bg-purple {
  background: #8244cb;
}

.bg-dark-blue {
  background: #0675d7;
}

.bg-blue {
  background: #11c9e9;
}

.bg-teal {
  background: #3de6c0;
}

.bg-light-green {
  background: #2ac774;
}

.bg-green {
  background: #1f9e5b;
}

.bg-yellow-green {
  background: #ade735;
}

.bg-orange-yellow {
  background: #fe9d0a;
}

.bg-orange {
  background: #fd7310;
}

.bg-pink {
  background: #fa749f;
}

.bg-red {
  background: #fc5255;
}

.bg-white {
  background: #f5f5f5;
}

.bg-gray {
  background: #93a1a1;
}

.bg-dark {
  background: #292929;
}

.bg-brown {
  background: #39260c;
}

.bg-cream {
  background: #f6e0ac;
}

/* -----------------------------------------------
TYPOGRAPHY
 */

.text-white {
  color: white;
}